.sign-in-card {
	display: flex;
	flex-direction: column;
	align-content: center;
	flex-wrap: wrap;
	width: 500px;
	max-width: 75vw;
	background-color: white;
	height: auto;
	border-radius: 10px;
	color: black;
}

.sign-in-card h1 {
	margin-top: 1rem;
}

.sign-in-form > * {
	display: block;
}

.sign-in-form {
	margin-top: 60px;
	font-size: 2rem;
}
.container {
	height: calc(100svh - 60px);
	display: flex;
	align-items: center;
	justify-content: center;
}
