.container {
	position: absolute;
	top: 51vh;
	width: 100%;
}

.nameMsg {
	color: white;
	text-align: center;
	width: 100%;
}

.guiltyMsg {
	color: white;
	margin-top: 1rem;
	text-align: center;
	width: 100%;
}
