.card {
    display: inline-block;
    margin-right: -46.2px;
    user-select: none;
    position: relative;
    height: 114px;
    cursor: pointer;
}

.card:last-of-type {
    margin-right: 0px;
}

.card:hover:not(.no-hover) svg {
    transform: translateY(-20px);
}

.red {
    color: rgb(187, 3, 19);
}

.white {
    color: white;
}
